body {
	font-size: 15px;
	color: #000;
	background-color: white;
	font-family: 'Ubuntu', sans-serif;
}

/* HEADER */

#header-navbar {
	background-color: grey;
	border-radius: 0;
	border: 0;
	border-bottom: 2px solid #000;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 {
	color: #000;
	font-size: 1.7em;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .1;
}

.navbar-brand a:focus, .navbar-brand a:hover {
	text-decoration: none;
}

#nav-list {
	margin-top: 10px;
} 

#nav-list a {
	color: #000;
	text-align: center;
}

#nav-list a:hover {
	background: #fff; 
}

#nav-list hr {
	width: 80%;
	margin-top: 3px;
	margin-bottom: 3px;
}

.nav > li > a {
	padding: 5px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #000; 
}

/* END HEADER */

/* MAIN */

#first-page-title {
	font-size: 2.5em;
	margin-top: 15px;
}

.row {
	margin: 10px;
}

#paragraph {
	background-color: grey;
	border-radius: 10px;
}

#paragraph h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}

#paragraph div {
	padding: 5px;
	padding-bottom: 10px;
	margin: 10px;
}

/* END MAIN */


/* MEDIA QUERIES */ 

@media (min-width: 1200px) {
	.navbar-brand h1 {
		line-height: 0;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.navbar-brand h1 {
		line-height: 0;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.navbar-brand h1 {
		line-height: 0;
	}
}

@media (max-width: 767px) {

}